---
import { themeConfig } from '@/config'
---

<footer>
  <div class="footer-content">
    <div class="powered-by">
      About the {' '}
      <a href="https://kurtiskemple.com"><strong>author</strong></a>.
    </div>
  </div>
</footer>
<style>
  footer {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-light);
    line-height: 1.75;
    color: var(--text-secondary);
    opacity: 0.75;
    margin-top: 4rem;
  }

  .footer-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .powered-by {
    white-space: nowrap;
  }

  footer a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.2s ease-out;
  }

  footer a:hover {
    color: var(--text-primary);
  }
</style>
